{% extends 'sc/sc_base.html' %}
{% block title %}Vimal Yadav Showcase Home Page{% endblock title %}
{% block content %}
{% load static %}
<section class="container-fluid">
    <div class="row justify-content-around text-center" style="background-color:orange;">
        <div class="col-sm-12">
            <br>
            <h3 style="color: darkred;"> <strong>Welcome To Vimal Yadav's Showcase</strong></h3>
            <br>
        </div>
    </div>
    <div style="margin-top: 50px;">&nbsp;</div>
    <div class="row justify-content-around">
        <div class="col-sm-4">
            <div> <a href="sls/slshome" class="aColour">3. Sign up and Sign in</a></div>
            <div> <a href="sfu/sfuhome" class="aColour">2. Upload a file and view it</a></div>
            <div> <a href="crud/crudhome" class="aColour">1. Insert, Read, Update and Delete a Student Record</a></div>
        </div>
        <div class="col-sm-4">
            <a href="/schome" style="color: white;"></a>
        </div>
        <div class="col-sm-4">
            <a href="/schome" style="color: white;"></a>
        </div>
    </div> 
    <div class="footer">
        <p><br>Work done using Python & Django</p>
      </div>  
</section>
{% endblock content %}
