{% extends 'sls/sls_base.html' %}
{% block title %}HOME | Standard Login System{% endblock title %}
{% block content %}
<section class="container">
    {% for message in messages %}
    <div>
        <strong>Message:</strong>{{ message }}
    </div>
    {% endfor %}
    <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-8">
            <h3>3. Sign Up and Sign In</h3>
        </div>
    </div>
    <div style="margin-top: 150px;">&nbsp;</div>
    <div class="row justify-content-around text-center text-white">
        <div class="col-sm-2 text-center">
            <a href="login" class="btn float-end" style="background-color:deepskyblue; color:blue;">click here to login</a>
        </div>
    </div>
    <div style="margin-top: 150px;">&nbsp;</div>
    <div class="row justify-content-around text-center text-white mt-5">
        <div class="col-sm-12 text-center">
            <a href="/schome" class="btn" style="background-color:darkgreen; color: white;">goto showcase home</a>
        </div>
    </div>
</section>
{% endblock content %}