body{
    background-color:white;

}
.aColour{
    color:darkred;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgreen;
    color: white;
    text-align: center;
  }